<% const works = [ { "ttl": "ミツカングループ", "txt":
"初めて自分が「メインエンジニア」として作成するウェブサイト。<br />作るページが多く、様々な人と関わった案件でした。やはり、コーポレートサイトなのですごく落ち着いてるウェブサイトでした。",
"img": "mizkan.jpg", "url": "https://www.mizkan.co.jp/", "tags": ["ejs", "scss",
"js", "jquery"] }, { "ttl": "スイソの<span> MIRAI</span>", "txt":
"先輩方が以前作ったページを1から作り直す案件。<br />デザイン的のはすごくシンプルでしたが、実装期間もすごく短く思うままの動きなどを付けることができなかったです。",
"img": "suiso.jpg", "url": "https://toyota-kami7.jp/suiso/", "tags": ["ejs",
"scss", "js", "jquery"] }, { "ttl": "<span>JRA</span> 東京競馬場", "txt":
"先輩方が以前作ったページを複製し、動きなどが同じのままのサイトを実装。<br />元があまりにも完成度が高く、複製したものを色々いじってみる時間もあって良い経験でした。",
"img": "jra.png", "url":
"https://jra-tokyorace.basement.jp/special/tokyo/exhibition2021/", "tags":
["pug", "scss", "webgl", "jquery"] }, { "ttl": "メリー チョコレート", "txt":
"初めて自分ひとりで作成するウェブサイト。<br />新しい技術を使って色々な細かいアニメーションを付けたりして、改めてオブジェクト指向のプログラミングというものを実感した案件でした。",
"img": "mary.jpg", "url": "https://www.mary.co.jp/mary/valentine2022/", "tags":
["pug", "scss", "js", "nuxtjs"] }] %>

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>ティハ</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Nanum+Gothic&family=Shippori+Mincho&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/assets/css/index.css" />

		<script src="/assets/js/common/vendor.js"></script>
		<script src="/assets/js/index.js" defer></script>
	</head>
	<body>
		<canvas id="fireworks"></canvas>
		<div id="container">
			<section class="top">
				<h1>
					<span class="word">2</span>
					<span class="word">0</span>
					<span class="word">2</span>
					<span class="word last">
						<span>1</span>
						<span class="hide">2</span>
					</span>
				</h1>
				<p class="greeting">あけましておめでとうございます!!</p>
				<p class="question">?</p>
			</section>
			<section class="target js-scrollAnim">
				<h2 class="js-scrollAnim">今年の目標</h2>
				<p class="js-scrollAnim">
					<span>何でもできるエンジニアになる !</span>
					という気持ちで一生懸命自分磨きします。
				</p>
			</section>
			<section class="works">
				<h2 class="js-scrollAnim">やった案件を振り返る</h2>
				<div class="works_container">
					<% for(let i = 0; i < works.length; i++) { %>
					<a
						href="<%= works[i].url %>"
						target="_blank"
						class="works_item js-scrollAnim"
					>
						<div class="worksItem_img">
							<img src="/assets/img/<%= works[i].img %>" alt="" />
						</div>
						<div class="worksItem_details">
							<h3 class="worksItem_ttl"><%- works[i].ttl %></h3>
							<p class="worksItem_txt"><%- works[i].txt %></p>
							<h4 class="worksItem_subTtl">利用した技術</h4>
							<div class="worksItem_used">
								<ul class="worksItem_tags">
									<% for(let j = 0; j < works[i].tags.length; j++) { %>
									<li>#<%- works[i].tags[j] %></li>
									<% } %>
								</ul>
							</div>
							<p class="worksItem_link">
								<span
									>READ MORE<img src="/assets/img/ico_otherWindow.svg" alt=""
								/></span>
							</p>
						</div>
					</a>
					<% } %>
				</div>
			</section>
			<section class="study">
				<h2 class="js-scrollAnim">勉強する予定の技術</h2>
				<ul>
					<li class="js-scrollAnim">
						<a href="https://nuxtjs.org/" target="_blank"
							><span
								>read more
								<img src="/assets/img/ico_otherWindow.svg" alt="" /> </span
						></a>
					</li>
					<li class="js-scrollAnim">
						<a href="https://reactjs.org/" target="_blank"
							><span
								>read more
								<img src="/assets/img/ico_otherWindow.svg" alt="" /> </span
						></a>
					</li>
					<li class="js-scrollAnim">
						<a href="https://threejs.org/" target="_blank"
							><span
								>read more
								<img src="/assets/img/ico_otherWindow.svg" alt="" /> </span
						></a>
					</li>
					<li class="js-scrollAnim">
						<a href="https://www.figma.com/" target="_blank"
							><span
								>read more
								<img src="/assets/img/ico_otherWindow.svg" alt="" /> </span
						></a>
					</li>
					<li class="js-scrollAnim">
						<a href="https://expressjs.com/" target="_blank"
							><span
								>read more
								<img src="/assets/img/ico_otherWindow.svg" alt="" /> </span
						></a>
					</li>
					<li class="js-scrollAnim">
						<a href="https://graphql.org/" target="_blank"
							><span
								>read more
								<img src="/assets/img/ico_otherWindow.svg" alt="" /> </span
						></a>
					</li>
				</ul>
			</section>
			<section class="bye">
				<h2 class="js-scrollAnim">さぁ、今年も頑張っていこう!!!</h2>
			</section>

			<div id="scroll-down">
				<span class="arrow-down"></span>
			</div>
		</div>
	</body>
</html>
